#section-about(class='relative p-64px h-100vh')
  div(class='text-24px leading-32px mb-24px') 
    span As a 
    span(class="text-48px") front-end 
    span developer, 
  div I enjoy the awesome css world, the power of front-end and the beauty of design.
div(class="h-100vh")
  img(src='@assets/images/ts.svg' alt="about-image" class="w-full mb-24px h-100vh")
div(class="h-100vh")
  img(src="@assets/images/bike.svg" alt="about-image" class="w-full mb-24px h-100vh")
div(class="h-100vh")
  video(src="/assets/video.mp4" class="w-full mb-24px h-100vh" controls)
