#section-home(class='relative h-100vh overflow-scroll')
  div(class='h-200vh kv-scroll-container relative')
    div(class="h-100vh relative sticky top-0")
      header(class='flex h-85px relative justify-between items-center bg-white border-b border-gray-200 text-24px leading-36px px-68px py-24px shadow-md')
        div Hi,welcome to my website!
        div(class="menu flex item-center")
          a(href="#", class="mr-24px text-gray-500 hover:text-black") Home
          a(href="#", class="mr-24px text-gray-500 hover:text-black") About
          a(href="#", class="mr-24px text-gray-500 hover:text-black") Contact
      div(class='content h-[calc(100vh-170px)] flex justify-center items-center w-full')
        div(class='content-box')
          div Hello, I'm Xiarongjin.
          div(class='text-center')
            span You can Call me
            span(class='text-128px leading-[150%]') Up
          div(class='text-right pl-200px mt-24px') Thank you for visiting my website!
      footer(class='flex justify-between text-12px leading-20px px-24px w-full pb-24px h-85px')
        div
          div I like these sports:
          div(class='flex gap-12px mt-10px')
            div(class='i-my-hobby-frisbee')
            div(class='i-my-hobby-bike')
            div(class='i-my-hobby-basket')
            div(class='i-my-hobby-swim')
        div 
          div(class="text-right") I also like: 
          div(class='flex gap-12px mt-10px')
            div(class='i-my-hobby-photo')
            div(class='i-my-hobby-cookie')
    div(class="h-100vh relative")
      header(class='flex h-85px relative justify-between items-center bg-white border-b border-gray-200 text-24px leading-36px px-68px py-24px shadow-md')
        div Hi,welcome to my website!
        div(class="menu flex item-center")
          a(href="#", class="mr-24px text-gray-500 hover:text-black") Home
          a(href="#", class="mr-24px text-gray-500 hover:text-black") About
          a(href="#", class="mr-24px text-gray-500 hover:text-black") Contact
      div(class='content h-[calc(100vh-170px)] flex justify-center items-center w-full')
        div(class='content-box')
          div Hello, I'm Xiarongjin.
          div(class='text-center')
            span You can Call me
            span(class='text-128px leading-[150%]') Up
          div(class='text-right pl-200px mt-24px') Thank you for visiting my website!
      footer(class='flex justify-between text-12px leading-20px px-24px w-full pb-24px h-85px')
        div
          div I like these sports:
          div(class='flex gap-12px mt-10px')
            div(class='i-my-hobby-frisbee')
            div(class='i-my-hobby-bike')
            div(class='i-my-hobby-basket')
            div(class='i-my-hobby-swim')
        div 
          div(class="text-right") I also like: 
          div(class='flex gap-12px mt-10px')
            div(class='i-my-hobby-photo')
            div(class='i-my-hobby-cookie')