div(class="m-2 rounded text-teal-600") this is home pagea
div(m-2="" rounded='' text-teal-400='') m10
div(class="hover:(bg-gray-400 font-medium) bg-white font-light") test
div(class='i-my-hobby-frisbee')