@font-face
  font-family 'FredokaOne'
  src url('@/assets/fonts/FredokaOne-Regular.ttf')

@font-face
  font-family 'Awe-RJ-Zh'
  src url('@/assets/fonts/awe-rj-zh.ttf')

body
  font 14px / 1.5 'FredokaOne', 'Awe-RJ-Zh', 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif
  margin unset
  padding unset